# Node modules
node_modules/

# Environment variables
.env

# Google Cloud credentials
*.json

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Uploaded files (temporary)
uploads/

# System files
.DS_Store
Thumbs.db

testVision.js
